<app-header></app-header>
<div class="pt-3 px-4 text-center" style="min-height:600px;">
  <h2>Register</h2>
  <br />
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <label>
      First Name:
      <input type="text" formControlName="firstName">
    </label>
    <br />
    <br />
    <label>
      Last Name:
      <input type="text" formControlName="lastName">
    </label>
    <br />
    <br />
    <label>
      Email Address:
      <input type="text" formControlName="email">
    </label>
    <br />
    <br />
    <label>
      Password:
      <input type="password" formControlName="password">
    </label>
    <br />
    <br />
    <p>
      <button type="submit" [disabled]="!registerForm.valid">Submit</button>
    </p>
    <br />
  </form>
</div>
