<div class="pt-3 px-4">
  <h2>Register</h2>
  <br />
  <br />
  <label>
    First Name:
    <input type="text" [formControl]="name">
  </label>
  <br />
  <br />
  <label>
    Last Name:
    <input type="text" [formControl]="name">
  </label>
  <br />
  <br />
  <label>
    Address:
    <input type="text" [formControl]="name">
  </label>
  <br />
  <br />
  <label>
    City:
    <input type="text" [formControl]="name">
  </label>
  <br />
  <br />
  <label>
    State:
    <input type="text" [formControl]="name">
  </label>
  <br />
  <br />
  <label>
    Phone Number:
    <input type="text" [formControl]="name">
  </label>
  <br />
  <br />
  <label>
    Email Address:
    <input type="text" [formControl]="name">
  </label>
  <br />
  <br />
  <label>
    Password:
    <input type="text" [formControl]="name">
  </label>
  <br />
  <br />
</div>
