<app-header></app-header>
<div class="pt-3 px-4 text-center" style="min-height:600px;">
  <h2>Register</h2>
  <br />
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <label>
      First Name:
      <input type="text" formControlName="firstName" required><span class="text-danger"> *</span>
    </label>
    <br />
    <br />
    <label>
      Last Name:
      <input type="text" formControlName="lastName" required><span class="text-danger"> *</span>
    </label>
    <br />
    <br />
    <label>
      Email Address:
      <input type="text" formControlName="email" required><span class="text-danger"> *</span>
    </label>
    <br />
    <br />
    <label>
      Password:
      <input type="password" formControlName="password" required><span class="text-danger"> *</span>
    </label>
    <br />
    <br />
    <p>
      <button class="btn blue btn-group btn-info" type="submit" [disabled]="!registerForm.valid">Submit</button>
    </p>
    <br />
    {{error}}
  </form>
</div>
<app-footer></app-footer>
