<app-header></app-header>
<div class="pt-3 px-4 text-center" style="min-height:600px;">
  <h2>Open Ticket</h2>
  <br />
  <form [formGroup]="createTicketForm" (ngSubmit)="onSubmit()">
    <label>
      Priority:
      <select class="form-control" formControlName="priority">
        <option>1 - Very Low</option>
        <option>2 - Low</option>
        <option>3 - Medium</option>
        <option>4 - High</option>
        <option>5 - Very High</option>
      </select>
    </label>
    <br />
    <br />
    <label>
      Title:
      <input type="text" formControlName="title">
    </label>
    <br />
    <br />
    <label>
      Details:
      <textarea class="form-control" rows="5" id="comment" formControlName="details"></textarea>
    </label>
    <br />
    <br />
    <p>
      <button class="btn blue btn-group btn-info" type="submit" [disabled]="!createTicketForm.valid">Submit</button>
    </p>
    <br />
  </form>
</div>
<app-footer></app-footer>
