<app-header></app-header>
<div class="pt-3 px-4 text-center" style="min-height:600px;">
  <h2>Create Ticket</h2>
  <br />
  <form [formGroup]="createTicketForm" (ngSubmit)="onSubmit()">
    <label>
      Title:
      <input type="text" formControlName="title">
    </label>
    <br />
    <br />
    <label>
      Category:
      <input type="text" formControlName="category">
    </label>
    <br />
    <br />
    <label>
      Priority:
      <input type="number" formControlName="priority">
    </label>
    <br />
    <br />
    <label>
      Details:
      <input type="text" formControlName="details">
    </label>
    <br />
    <br />
    <p>
      <button type="submit" [disabled]="!createTicketForm.valid">Submit</button>
    </p>
    <br />
  </form>
</div>
