nav {
  background-color: #333333;
}
.nav-item {
  padding: 2px;
  margin-left: 7px;
}

.active {
  color:white;
  text-decoration: underline;
}

a {
  font-family: 'Oswald', sans-serif;
}

* {
  font-family: 'Oswald', sans-serif;
}
