<app-header></app-header>
<div class="pt-3 px-4 text-center" style="min-height:600px;">
  <h2>Reassign Ticket</h2>
  <br />



  <br />

  <button class="btn blue btn-group btn-info" type="button" (click)="reassignTicket()">Submit</button>
  <br />
  <br />




  <br /><br />










  <div class="container">
    <div class="row">
      <!-- Register Column -->

      <div class="col">
        TicketID: {{intholder}}<br />

        <input type="number" id="quantity" name="quantity" min="1" [formControl]="quantity">
        <button class="btn blue btn-group btn-info" type="button" (click)="this.intholder = quantity.value;onClick();">Preview</button>
        <br /><br />
        {{error}}
        <div *ngIf="intholder > 0">
          <br /><br />
          Title: {{this.temptitle}}
          <br />
          Details: {{this.tempdetails}}
          <br />
          Requestor: {{this.tempuserRequesterName}}
          <br />
          Assigned: {{this.tempAdminAssignedName}}
          <br />
          Status: {{this.tempStatus}}
        </div>
      </div>
      <!-- Users/Admins Column-->

      <div class="col">      AdminID: {{intholder2}}<br />
        <input type="number" id="quantity2" name="quantity2" min="1" max="3" [formControl]="quantity2" value="1">
        <button class="btn blue btn-group btn-info" type="button" (click)="this.intholder2 = quantity2.value;onClick2();">Preview</button>
        <br /><br />
        <div *ngIf="intholder2 > 0">
          Admin: {{this.selectedAdmin}}
          <br />
        </div>
      </div>
    </div>
  </div>









</div>
<app-footer></app-footer>
