<app-header></app-header>
<div class="pt-3 px-4" style="min-height:600px;">
  <h2>Assigned Tickets</h2>
  <!--<button (click)="getUsers()">Refresh</button>-->
  <br />
  <br />
  <div *ngIf="tickets.length > 0">
    <ol>
      <li *ngFor="let ticket of tickets">== {{ ticket.title }} == (Status: {{ticket.completed}})<br />{{ticket.details}}<br />Requested By: {{ticket.userRequesterName}}<br />Assigned To: {{ticket.adminAssignedName}}<br />Date Created: {{ticket.datetimeOpened}}<br />Date Closed: {{ticket.datetimeClosed}}<br /><br /><br /></li>
    </ol>
  </div>
  <div *ngIf="tickets.length === 0">
    no tickets found
  </div>
  <div *ngIf="error" class="error">
    {{ error }}
  </div>
</div>
<app-footer></app-footer>
