<app-header></app-header>
<div class="pt-3 px-4 text-center" style="min-height:500px;">
  <h2 class="d-inline">Tickets</h2>
  <br />
  <br />
  <fa-icon [icon]="faTicketAlt" class="fa-4x"></fa-icon>
  <br />
  <br />
  <br />
  <div *ngIf="this.intsupportLevel > 0">


    <a class="btn blue btn-group btn-info" routerLink="/closeticket">Close</a><br />
    <a class="btn blue btn-group btn-info" routerLink="/assignedtickets">Assigned</a><br />
    <a class="btn blue btn-group btn-info" routerLink="/reassignticket">Reassign</a><br />
    <a class="btn blue btn-group btn-info" routerLink="/alltickets">All Tickets</a><br />
  </div>
  <div *ngIf="this.lastName == ''">
    <p>Please sign-in.</p>
  </div>

  <div *ngIf="this.intsupportLevel != 1 && this.intsupportLevel != 2 && this.intsupportLevel != 3 && this.lastName != ''">
    <a class="btn blue btn-group btn-info" routerLink="/openticket">Open</a><br /><br />
    <a class="btn blue btn-group btn-info" routerLink="/mytickets">My Tickets</a><br /><br />
  </div>
  <!--<a routerLink="/updateticket">Update</a><br /><br />-->
  <br />
</div>
<app-footer></app-footer>
