<div class="pt-3 px-4">
  <h2>All Tickets</h2>
  <!--<button (click)="getUsers()">Refresh</button>
  <br />
  <br />-->
  <div *ngIf="tickets.length > 0">
    <ol>
      <li *ngFor="let ticket of tickets">=={{ ticket.title }}==<br />{{ticket.details}}<br />Created:{{ticket.datetimeOpened}}<br />Closed:{{ticket.datetimeClosed}}<br />Created By:{{ticket.userId}}(UserID)<br />Assigned To:{{ticket.adminId}}(AdminID)</li>
    </ol>
  </div>
  <div *ngIf="tickets.length === 0">
    no tickets found
  </div>
  <div *ngIf="error" class="error">
    {{ error }}
  </div>
</div>
