<div class="pt-3 px-4">
  <h2>Welcome to Ticket Master!</h2>
  <br />
  <br />


  <div class="container">
    <div class="row">
      <div class="col">
        <br />
        <label>
          Email Address:
          <input type="text" [formControl]="name">
        </label>
        <label>
          Password:
          <input type="text" [formControl]="name">
        </label>
        <br />
        <button type="button" class="btn btn-info float-left">Sign Up</button>
      </div>
      <div class="col">
        <button type="button" id="button1" class="btn btn-group btn-info" (click)="checked = true;">View Users</button>
        &nbsp;
        <button type="button" id="button2" class="btn btn-group btn-info" (click)="checked = false;">View Administrators</button>
        <br />
  



        <div *ngIf="checked === true"><app-users></app-users></div>
        <div *ngIf="checked === false"><app-admins></app-admins></div>






      </div>

    </div>





  </div>
