<app-header></app-header>
<div class="pt-3 px-4 text-center" style="min-height:500px;">
  <h2 class="d-inline">Account</h2>
  <br />
  <br />
  <fa-icon [icon]="faCogs" class="text-black fa-4x"></fa-icon>
  <br />
  <br />
  <br />
  <div>Hello, {{firstName}}<span *ngIf="firstName != 'Guest'"> {{lastName}}</span>!<br />{{email}}</div><br />
  <a class="btn blue btn-group btn-info text-white" *ngIf="firstName == 'Guest'" routerLink="/login">Login</a><br /><br />




  <a class="btn blue btn-group btn-info text-white" *ngIf="firstName == 'Guest'" routerLink="/register">Register<br /><br /></a>

  <a class="btn blue btn-group btn-info text-white" *ngIf="firstName != 'Guest'" routerLink="/logout">Logout<br /><br /></a>

  <br />
  <a routerLink="/changepassword" class="btn blue btn-group btn-info text-white" *ngIf="this.intsupportLevel != 1 && this.intsupportLevel != 2 && this.intsupportLevel != 3 && this.lastName != ''">Change Password<br /><br />
  </a>
  <br />



  <a routerLink="/adminportal/changeadminpassword" class="btn blue btn-group btn-info text-white" *ngIf="this.intsupportLevel > 0">
    Change Admin Password<br /><br />
  </a>
  <br />
  <br />
</div>
<app-footer></app-footer>
