<app-header></app-header>
<div class="pt-3 px-4 text-center" style="min-height:500px;">
  <h2 class="d-inline">Account</h2>
  <br />
  <br />
  <fa-icon [icon]="faCogs" class="text-black fa-4x"></fa-icon>
  <br />
  <br />
  <br />
  <div><p>Hello, {{email}}!</p></div>
  <div *ngIf="email == 'Guest'"><a routerLink="/login">Login</a><br /><br /></div>
  <div *ngIf="email == 'Guest'"><a routerLink="/register">Register</a><br /><br /></div>
  <div *ngIf="email != 'Guest'"><a routerLink="/logout">Logout</a><br /><br /></div>
  <div *ngIf="email != 'Guest'"><a routerLink="/update">Update</a><br /><br /></div>
  <br />
</div>
